#invoice-calculator-widget{
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: black;
    padding: 64px 64px;
    border-radius: 2px;
    width: 420px;
    margin: auto;
}

#invoice-calculator-widget .row{
  max-width: 420px;
  margin: 16px auto;
}
#invoice-calculator-widget .text-center{
  text-align: center;
}
#invoice-calculator-widget .action-link{
  text-decoration: none;
  background: #f58634;
  margin: 20px auto;
  width: 100px;
  height: 1.2em;
  padding: 8px;
  text-align: center;
  display: block;
  line-height: 1.2em;
  color: white;
  
}

#invoice-calculator-widget .error{
  margin: 8px 0px; 
  font-size: 0.8em;
  color: #D8000C;
	background-color: #FFBABA;
	border-radius: 2px;
}

#invoice-calculator-widget .error.has-error{
  padding: 4px;
}
#invoice-calculator-widget span.days{
  font-size: 0.8em;
  line-height: 1em;
  margin-left: 4px;
}
#invoice-calculator-widget label{
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.2em;
}
#invoice-calculator-widget .amount{
  margin: 0px 0px;
  padding: 4px 0px;                 
  font-size: 1.2em;
  line-height: 1em;
  border: none;
  color: black;
  background-color: transparent;
  border-bottom: 2px solid #f58634;
}
#invoice-calculator-widget .amount:focus { outline: none; }

#invoice-calculator-widget [name='fees_amount'],
#invoice-calculator-widget [name='cash_amount']{
  margin: 4px 0px;
  font-size: 1.2em;
  line-height: 1em;
  color: #f58634;
  background-color: transparent;
}
#invoice-calculator-widget [name='payment_term']{
  display: none;
}
#invoice-calculator-widget .cash_amount_control{
  text-align: right;
}

#invoice-calculator-widget .payment_term_control .payment_term_checkbox{
  font-size: 1.2em;
  margin-right: 24px;
  cursor: pointer;
  padding: 4px 0px;
}

#invoice-calculator-widget .payment_term_control .payment_term_checkbox:hover{
  border: 2px solid #f58634;
  border-right: none;
  border-left: none;
  border-top: none;
}
#invoice-calculator-widget .payment_term_control input:checked + .payment_term_checkbox{
  border: 2px solid #f58634;
  border-right: none;
  border-left: none;
  border-top: none;
}


#invoice-calculator-widget [name='invoice_amount_unit']{
  display: none;
}
#invoice-calculator-widget .invoice_amount_unit_control{
  text-align: right;
}
#invoice-calculator-widget .invoice_amount_unit_control .invoice_amount_unit_checkbox{
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 24px;
  padding: 4px 0px;
}

#invoice-calculator-widget .invoice_amount_unit_control .invoice_amount_unit_checkbox:hover{
  border: 2px solid #f58634;
  border-right: none;
  border-left: none;
  border-top: none;
}
#invoice-calculator-widget .invoice_amount_unit_control input:checked + .invoice_amount_unit_checkbox{
  border: 2px solid #f58634;
  border-right: none;
  border-left: none;
  border-top: none;
}

#invoice-calculator-widget .label{
  margin-bottom: 8px;
}
